.head
{
	margin:0 auto;
	width: 900px;
	text-align: center;
}
.main
{
	margin:0 auto;
	overflow: auto;
	width: 900px;
}
#reg1, #reg2, #reg3
{
	position: relative;
}
.main #reg1, .main #reg2, .main #reg3
{
	width: 250px;
	background-color: #c3c3c3;
	padding: 40px 20px 20px 20px;
	float: left;
	margin-right: 10px;
}
#reg1 div:nth-child(1)
{
	width: 50px;
	border: 2px solid black;
	background-color: black;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}
#reg2 div:nth-child(1)
{
	width: 50px;
	border: 2px solid black;
	background-color: purple;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}
#reg3 div:nth-child(1)
{
	width: 50px;
	border: 2px solid black;
	background-color: grey;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
}

@media (min-width: 992px)
{
	.head
	{
		margin:0 auto;
		width: 900px;
		text-align: center;
	}
	.main
	{
		margin:0 auto;
		overflow: auto;
		width: 900px;
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
		.head
		{
			margin:0 auto;
			width: 80%;
			text-align: center;
		}
		.main
		{
			margin:0 auto;
			overflow: auto;
			width: 80%;
		}
		.main #reg1, .main #reg2
		{
			width: 300px;
			float: left;
			margin-right: 10px;
		}

		.main #reg3
		{
			width: 660px;
			background-color: #c3c3c3;
			padding: 20px 20px 20px 20px;
			margin-top: 20px;
		}
}

@media only screen and (max-device-width: 767px) 
{
		.head
		{
			margin:0 auto;
			width: 50%;
			text-align: center;
		}
		.main
		{
			margin:0 auto;
			overflow: auto;
			width: 50%;
		}
		.main #reg1
		{
			width: 400px;
			background-color: #c3c3c3;
			padding: 20px 20px 20px 20px;
		}
		.main #reg2
		{
			width: 400px;
			background-color: #c3c3c3;
			padding: 20px 20px 20px 20px;
			margin-top: 20px;
		}
		.main #reg3
		{
			width: 400px;
			background-color: #c3c3c3;
			padding: 20px 20px 20px 20px;
			margin-top: 20px;
		}

}